[submodule ".config/nvim/pack/plugins/start/vim-go"]
	path = .config/nvim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".config/nvim/pack/plugins/opt/deep-space-theme"]
	path = .config/nvim/pack/plugins/opt/deep-space-theme
	url = https://github.com/tyrannicaltoucan/vim-deep-space.git
[submodule ".config/nvim/pack/plugins/opt/material-theme"]
	path = .config/nvim/pack/plugins/opt/material-theme
	url = https://github.com/kaicataldo/material.vim.git
[submodule ".config/nvim/pack/plugins/start/lightline"]
	path = .config/nvim/pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule ".config/nvim/pack/plugins/start/challenger-deep-theme"]
	path = .config/nvim/pack/plugins/start/challenger-deep-theme
	url = https://github.com/challenger-deep-theme/vim.git
[submodule ".config/tmux/plugins/tmux-resurrect"]
	path = .config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule ".config/tmux/plugins/continuum"]
	path = .config/tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule ".config/nvim/pack/plugins/start/vim-obsession"]
	path = .config/nvim/pack/plugins/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
